<div class="tavoli_body">
  <p class="legend_tavoli">Tavoli</p> 
  
  <fieldset class="fieldset_tavoli">
    <mat-chip-listbox>

      <mat-chip  *ngFor='let tavolo of tavoli' (click)="onTavoloClick(tavolo)">
        <button mat-button>{{ tavolo.nome }}</button>
        <img matChipRemove src="../../assets/images/icons8-delete-30.png" alt="delete" (click)="remove(tavolo)"/>
      </mat-chip>

    </mat-chip-listbox>
  </fieldset>

  <div  class="bottom-flex-container-1">
    <!-- fa fare div  [ngClass]="{'bottom-flex-container': !molti_tav, 'bottom-flex-container_bis': molti_tav}"-->
    <input class="legend_add_tavoli" matInput placeholder="Nuovo Tavolo" (keydown)="onEnterKeyPressed($event)" style="border-radius: 30px">
  </div>

  <div  class="bottom-flex-container-2">
      <a mat-button class="my_buttons"  (click)="toLogin($event)"><< Login</a>    
  </div>


</div>