.tavoli_body {
    background-color: #51c481; 
}

.legend_tavoli {
    margin: auto;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fieldset_tavoli{
    padding:  10 px;
    background-color: #0e032763;
    padding-bottom:  100px; 
}


.legend_add_tavoli {
    color: black;
    margin: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.bottom-flex-container-1 {
    background-color: white;
    padding: 5px;
    font-size: 30px;
    
    position: fixed;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;

  
}

.bottom-flex-container-2 {
    background-color: white;
    padding: 5px;
    font-size: 20px;
    display: flex;
    
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;
}

.my_buttons{
    background-color: #51c481;
    margin-inline: 50px;
    width: 150px;
}

mat-chip  {
    padding: 8px 12px; /* Adjust the padding as needed */
}

mat-chip button {
    font-weight: bold;
    font-size: 15px;
}

.tavolo-button {
    white-space: normal; /* Allow button to wrap text */
    display: flex; /* Use flexbox for button content */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the start of the button */
  }
  
  .commanda-list {
    margin-top: 5px; /* Add margin between button text and list */
    padding-left: 20px; /* Indent list items */
  }

  .tavolo-button {
    white-space: normal; /* Allow button text to wrap */
    display: flex; /* Use flexbox for button content */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the start of the button */
    max-width: 2000px; /* Set a maximum width for the button */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
  }
  
  .commanda-list {
    margin-top: 5px; /* Add margin between button text and list */
    padding-left: 20px; /* Indent list items */
  }

  .tavolo-card {
    margin-bottom: 10px; /* Add margin between cards */
  }
  
  .commanda-list {
    margin-top: 5px; /* Add margin between button text and list */
    padding-left: 20px; /* Indent list items */
  }

  .tavolo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align cards at the start */
  }
  
  .mat-card {
    flex: 1 1 300px; /* Set a flexible width for each card, adjust as needed */
    margin: 10px; /* Add some margin between cards */
  }

  .mat-chip-listbox{
    padding: 10px !important;
  }

  .my_box{
    padding: 5px !important;
    padding-bottom: 0px !important;
  }

  .delete_tavolo{
    max-height: 20px;
  }