.tavoli_body {
    background-color: #51c481; 
}

.legend_tavoli {
    margin: auto;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fieldset_tavoli{
    padding:  10 px;
    background-color: #0e032763;
    padding-bottom:  100px; 
}


.legend_add_tavoli {
    color: black;
    margin: auto;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.bottom-flex-container-1 {
    background-color: white;
    padding: 5px;
    font-size: 30px;
    
    position: fixed;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;

  
}

.bottom-flex-container-2 {
    background-color: white;
    padding: 5px;
    font-size: 20px;
    display: flex;
    
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;
}

.my_buttons{
    background-color: #51c481;
    margin-inline: 50px;
    width: 150px;
}