<div class="local_body" *ngIf="showMain">
    <p class="title">App Commanda<p>
    <p >Version {{version}}<p>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" (change)="onRadioChange($event)">
      
      <mat-radio-button class="radio-button" value="tavoli"><label style="font-weight: bold;">Sala</label></mat-radio-button>
      <mat-radio-button class="radio-button" value="pizzeria"><label style="font-weight: bold;">Pizzeria</label></mat-radio-button>
      <mat-radio-button class="radio-button" value="cucina"><label style="font-weight: bold;">Cucina</label></mat-radio-button>

    </mat-radio-group>
    <div></div>
</div>

<app-tavolo *ngIf="showTavoli"></app-tavolo>
<app-commanda  *ngIf="showCommanda"></app-commanda>
<app-pizzeria  *ngIf="showPizzeria"></app-pizzeria>
<app-cucina  *ngIf="showCucina"></app-cucina>