.commanda_body {
    background-color: #41c0ba; 
}

.legend_commanda {
    margin: auto;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.up-container {
    max-height: 1000px; /* Adjust the maximum height as needed */
    overflow-y: auto;
}

fieldset{
    border: black;
}

.bottom-flex-container-2 {
    background-color: #41c0ba;
    padding: 5px;
    font-size: 20px;
    display: flex;
    
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;
}

mat-chip  {
    padding: 8px 12px; /* Adjust the padding as needed */
}

mat-chip button {
    font-weight: bold;
    font-size: 15px;
}