<div class="commanda_body">
    <p class="legend_commanda">Commanda | {{ nomeTavolo }}</p> 
    
   
    <div class="up-container">
      <!--div>
      STATUS_A = 'A'
      STATUS_B = 'B'
      STATUS_C = 'C'
      STATUS_D = 'D'
    
      STATUS = [
          (STATUS_A, 'SuCommanda'),
          (STATUS_B, 'InProduzione'),
          (STATUS_C, 'ProduzioneCompletata'),
          (STATUS_D, 'Servito'),
      ]


      collection_id:
      1 -> Pizzeria
      2 -> Cucina
      3 -> Bar

      </div-->

      <fieldset  *ngIf="ordiniVisible">
        <mat-chip-set aria-label="Orinazioni">
        <div *ngFor='let element of commanda'>
          <mat-chip *ngIf="element.commanda__production_status !== 'D'">        
            <div (click)="modificaElementoCommanda(element)">{{element.commanda__product__title }} ({{ element.commanda__quantity }}) {{element.commanda__note}}</div>
            
            <img *ngIf="element.commanda__production_status == 'A'" matChipRemove src="../../assets/images/icons8-delete-30.png" alt="delete" (click)="remove(element)"/>
            <!-- Se è un prodotto che posso mandare in produzione ci aggiungo una freccia -->
            <img *ngIf="element.commanda__production_status == 'A' && element.product_collection_id != 3" matChipRemove src="../../assets/images/send_icon.png" alt="freccia" (click)="change_production_status(element,'B')"/>
            
            <img *ngIf="element.product_collection_id == 3 || element.commanda__production_status == 'C'" matChipRemove src="../../assets/images/check.png" alt="complete" (click)="change_production_status(element,'D')"/>

            <img *ngIf="element.commanda__production_status == 'B'" matChipRemove src="../../assets/images/gear.png" alt="ingranaggio"/>

        </mat-chip>
        </div>  
        </mat-chip-set>


      </fieldset>

      <!-- Your HTML code with radio buttons in three columns -->
      <fieldset *ngIf="!ordiniVisible">
        <hr>
        <!-- Other HTML code -->
        <p>Quantità:</p>
        <p><input type="number" placeholder="Enter a number" [(ngModel)]="quantity"/></p>
        <div class="radio-container">
            <mat-radio-group>
                <mat-radio-button *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="value" (change)="onRadioSelected(value)">{{value}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <hr>
        <p>Nota:</p>
        <textarea rows="3" maxlength="3000" placeholder="" class="custom-textarea" [(ngModel)]="textareaContent" (keydown.enter)="onEnterPressed($event)"></textarea>
        <!-- Other HTML code -->
        <div class="centered-row">
            <button mat-button class="salva" (click)="aggiornaElementoCommanda()">Salva</button>
        </div>
        <button class="close-button" (click)="closeModificaElementoCommanda()">x</button>
      </fieldset>


  
    </div>
    
    <hr>
    <div *ngIf="contoVisible">
        <p class="legend_commanda">Conto: 
          {{overallTotalPriceString}}
        </p>
      
        <div class="table-container">
          <table mat-table [dataSource]="elementiConto" class="mat-elevation-z8 custom-table">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="product__title">
              <th mat-header-cell *matHeaderCellDef>Prodotto</th>
              <td mat-cell *matCellDef="let element"> {{element.productTitle}}
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="total_quantity">
              <th mat-header-cell *matHeaderCellDef>N</th>
              <td mat-cell *matCellDef="let element"> {{element.totalQuantity}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="total_price">
              <th mat-header-cell *matHeaderCellDef>&#8364;</th>
              <td mat-cell *matCellDef="let element">
                <span>{{ element.totalPrice }}</span>
              </td>
            </ng-container>
          
      
             
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          </div>
    </div>

    <hr>

    <div *ngIf="ordiniVisible" class="bottom-flex-container-4">
      
      <div class="bottom-flex-container-1" id="prodotto_filtrati">
        <mat-chip-listbox *ngIf="cercaVisible" aria-label="product selection">
          <mat-chip  *ngFor='let products of filtered_products' (click)="onSelectedProductChip(products)">
            <button mat-button>{{ products.title }}</button>
          </mat-chip>
        </mat-chip-listbox>
        <!--p> test position</p-->
      </div>



      <div  *ngIf="!contoVisible" class="bottom-flex-container-2" id="cerca_prodotto">
        <input id="searchInputField" class="legend_add_prodotto centered-element" matInput placeholder="Cerca prodotto"  style="border-radius: 30px" (input)="cercaProdotto($event)" (keydown.enter)=" onSelectedProductEnter($event)"> 
      </div>
  
      <div  class="bottom-flex-container-3">
          <a mat-button class="my_buttons"  (click)="setPage('tavoli')"><< Tavoli</a>
          <a mat-button class="my_buttons"  (click)="conto('toggle')"><label *ngIf="!contoVisible">Conto</label><label *ngIf="contoVisible">X</label></a>      
      </div>
  
    
    </div>


  </div>


