<div class="commanda_body">
    <p class="legend_commanda">Commanda | {{ dataTavolo.nome }}</p> 
    
   
    <div class="up-container">
      <!--div>
      STATUS_A = 'A'
      STATUS_B = 'B'
      STATUS_C = 'C'
      STATUS_D = 'D'
    
      STATUS = [
          (STATUS_A, 'SuCommanda'),
          (STATUS_B, 'InProduzione'),
          (STATUS_C, 'ProduzioneCompletata'),
          (STATUS_D, 'Servito'),
      ]


      collection_id:
      1 -> Pizzeria
      2 -> Cucina
      3 -> Bar

      </div-->

      <fieldset  *ngIf="ordiniVisible">
        <mat-chip-set aria-label="Orinazioni">
        <div *ngFor='let element of commanda'>
          <mat-chip>        
            <div [className]="element.production_status" (click)="modificaElementoCommanda(element)">{{element.product_title }} ({{ element.quantity }}) {{element.note}}</div>
            <img *ngIf="element.production_status == 'A'" matChipRemove src="../../assets/images/icons8-delete-30.png" alt="delete" (click)="remove(element)"/>
            <img *ngIf="element.production_status == 'A' && element.product_collection_id != 3" matChipRemove src="../../assets/images/send_icon.png" alt="toProduzione" (click)="change_production_status(element,'B')"/>
            <img *ngIf="element.product_collection_id == 3 || element.production_status == 'C'" matChipRemove src="../../assets/images/check.png" alt="complete" (click)="change_production_status(element,'D')"/>
            <img *ngIf="element.production_status == 'B'" matChipRemove src="../../assets/images/gear.png" alt="InProduzione"/>
        </mat-chip>
        </div>  
        </mat-chip-set>


      </fieldset>
      
      <fieldset  *ngIf="!ordiniVisible">
        <p>Titolo: {{ selected_commanda[0].product_title }}</p>
        <hr>
        <p>Nota:</p>
        <textarea [(ngModel)]="selected_commanda[0].note" rows="3" maxlength="3000" placeholder="" class="custom-textarea" (keydown.enter)="aggiornaElementoCommanda()"></textarea>
        <hr>

        <p>Quantità: <input [(ngModel)]="selected_commanda[0].quantity" type="number" placeholder="Enter a number" (keydown.enter)="aggiornaElementoCommanda()"/></p>
          <div style="max-height: 200px; overflow: auto;">
            <mat-grid-list cols="3" rowHeight="50px">
              <mat-grid-tile><mat-radio-button value="1" [checked]="selected_commanda[0].quantity == 1" (change)="upDateRadio($event)">1</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="2" [checked]="selected_commanda[0].quantity == 2" (change)="upDateRadio($event)">2</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="3" [checked]="selected_commanda[0].quantity == 3" (change)="upDateRadio($event)">3</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="4" [checked]="selected_commanda[0].quantity == 4" (change)="upDateRadio($event)">4</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="5" [checked]="selected_commanda[0].quantity == 5" (change)="upDateRadio($event)">5</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="6" [checked]="selected_commanda[0].quantity == 6" (change)="upDateRadio($event)">6</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="7" [checked]="selected_commanda[0].quantity == 7" (change)="upDateRadio($event)">7</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="8" [checked]="selected_commanda[0].quantity == 8" (change)="upDateRadio($event)">8</mat-radio-button></mat-grid-tile>
              <mat-grid-tile><mat-radio-button value="9" [checked]="selected_commanda[0].quantity == 9" (change)="upDateRadio($event)">9</mat-radio-button></mat-grid-tile>
            </mat-grid-list>
          </div>
        <hr>

        <div class="centered-row">
          <button mat-button class="salva" (click)="aggiornaElementoCommanda()">Salva</button>
        </div>
      <!--button class="close-button" (click)="closeModificaElementoCommanda()">x</button-->  
      </fieldset>

  
    </div>
    
    <hr>
    <div *ngIf="contoVisible">
        <p class="legend_commanda">Conto: 
          <span *ngIf="conto_tot!=0">{{conto_tot}} &#8364;</span>
          <span *ngIf="conto_tot==0">X</span>
        </p>
      
        <div class="table-container">
          <table mat-table [dataSource]="elementiConto" class="mat-elevation-z8 custom-table">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="product__title">
              <th mat-header-cell *matHeaderCellDef>Prodotto</th>
              <td mat-cell *matCellDef="let element"> {{element.product__title}}
                <span *ngIf="element.note!=null">({{element.note}})</span>
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="total_quantity">
              <th mat-header-cell *matHeaderCellDef>N</th>
              <td mat-cell *matCellDef="let element"> {{element.total_quantity}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="total_price">
              <th mat-header-cell *matHeaderCellDef>&#8364;</th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="!check_altro(element)">{{element.total_price}}</span>
                <span *ngIf="check_altro(element)">X</span>
              </td>
            </ng-container>
          
      
             
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          </div>
    </div>

    <hr>

    <div *ngIf="ordiniVisible" class="bottom-flex-container-4">
      
      <div class="bottom-flex-container-1" id="prodotto_filtrati">
        <mat-chip-listbox *ngIf="cercaVisible" aria-label="product selection">
          <mat-chip  *ngFor='let products of filtered_products' (click)="onSelectedProductChip(products)">
            <button mat-button>{{ products.title }}</button>
          </mat-chip>
        </mat-chip-listbox>
        <!--p> test position</p-->
      </div>



      <div  *ngIf="!contoVisible" class="bottom-flex-container-2" id="cerca_prodotto">
        <input id="searchInputField" class="legend_add_prodotto centered-element" matInput placeholder="Cerca prodotto"  style="border-radius: 30px" (input)="cercaProdotto($event)" (keydown.enter)=" onSelectedProductEnter($event)"> 
      </div>
  
      <div  class="bottom-flex-container-3">
          <a mat-button class="my_buttons"  (click)="toTavoli($event)"><< Tavoli</a>
          <a mat-button class="my_buttons"  (click)="conto('toggle')"><label *ngIf="!contoVisible">Conto</label><label *ngIf="contoVisible">X</label></a>      
      </div>
  
    
    </div>


  </div>


