<div class="commanda_body">
    <p class="legend_commanda">Cucina</p> 
    
   
    <div class="up-container">
      <!--div>
      STATUS_A = 'A'
      STATUS_B = 'B'
      STATUS_C = 'C'
      STATUS_D = 'D'
    
      STATUS = [
          (STATUS_A, 'SuCommanda'),
          (STATUS_B, 'InProduzione'),
          (STATUS_C, 'ProduzioneCompletata'),
          (STATUS_D, 'Servito'),
      ]


      collection_id:
      1 -> Pizzeria
      2 -> Cucina
      3 -> Bar

      </div-->

      <fieldset>
        <mat-chip-set aria-label="Orinazioni">
        <div *ngFor='let element of collection_cucina'>
          <div class="chip-content">
            <mat-chip>
              <div class="chip-text">        
                <div>{{ element.commanda__quantity }}x: {{element.commanda__product__title }} {{element.commanda__note}} (Tavolo: {{element.nome}})</div>
              </div>
              <!--img matChipRemove src="../../assets/images/icons8-delete-30.png" alt="delete" (click)="remove(element)"/-->
              <img matChipRemove src="../../assets/images/check.png" alt="complete" (click)="handleChangeProductionStatus(element,'C')"/>
            </mat-chip>
          </div>
        </div>  
        </mat-chip-set>
      </fieldset>
      
    </div>
    <hr>



    <div  class="bottom-flex-container-2">
      <a mat-button class="my_buttons"  (click)="setPage('main')"><< Login</a>    
    </div>


</div>